
.ui.input.MessegeInput{
    width: 28vw;
    padding-right: 10px;
}

.ui.input.MessegeInput>input{
    border-radius:20px !important;
}

.ui.button.sendMessage{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #4260D8;
}