.leftSection2{
    width: 35vw;
    left: 10vw;
    top: 13vw;
    position: absolute;
}

.interviewHeader{
    font-family: 'Poppins', sans-serif;
    color: #C1CEF5;
    font-weight: bold;
    font-size: 36px;
}

.bodyText2{
    position : absolute;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: #919DC3;
    text-align: left;
    position: absolute;
    top : 5vw;
    left: 3.7vw;
}

.bodyText3{
    position : absolute;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: #919DC3;
    text-align: left;
    position: absolute;
    top : 8vw;
    left: 3.7vw;
}

.ui.button.goToAvatar{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #4260D8;
    width: 180px;
    top: 13.5vw !important;
    left: -7.9vw;
}

.rightSection2{
    position: absolute;
    left: 52vw;
}

.ui.selection.dropdown{
    background-color: #38405A;
    color: #C1CEF5;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 300px;
    position: relative;
    top: 170px;
    left: 55px;

}
