.backGround {
    height: 100vh;
    width: 100vw;
    background: #1B2934;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.RegisterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
    width: 60%;
    min-height: 70vh;
    max-height: 95vh;
    background-image: linear-gradient(to bottom, #4a5a7d, #1e2941);
    border-radius: 18px;
    padding: 2rem;
    gap: 2rem; 
}

.register-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.left-section-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
}

.right-section-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;  
    padding: 5rem;
    margin-bottom:10rem;
    width: 50%;
}

.welcome-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.welcome-title{
    font-family: "Visby CF Extra Bold", sans-serif;
    font-weight: 700;
    font-size: 135px;
    color: #C1CEF5;
    letter-spacing: -5px;
    margin: 0;  
    line-height: 1.2; 

}

.welcome-text{
    font-family: "Visby CF", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #919DC3;
    text-align: left;
    line-height: 1.5;
    width: 80%;
    margin: 0;  
}

.ui.image.LogoReg {
    width: 45%;
}

.login-button-container {
    display: flex;
    width: fit-content;  
    margin-left: 0;     
    width: 75%;
    padding: 0 10% 0 10%;
}

.ui.animated.button.LoginButton{
    width: 80%;
    background-color: #C1CEF5;
    margin-top: 2rem;  
    font-size: 1.5rem;
    border-radius: 1rem;
}
