.backGround {
    min-height: 100vh;
    width: 100%;
    background: #1B2934;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-height: 65vh;
    background-image: linear-gradient(to bottom, #4a5a7d, #1e2941);
    border-radius: 25px;
    padding: 2rem;
    gap: 2rem;
}

.ui.image.LogoReg {
    width: 35%;
    margin-bottom: 1rem;
}