@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.backGround {
    display: flex;
    position: absolute;
    background-image:url("C:/Users/HELLO/Downloads/bg proiectColectiv.png");
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ocupă toată înălțimea paginii */
    width: 100vw; /* Ocupă toată lățimea paginii */
}
.ui.image.LogoLogIn {
    position: relative;
    top: 9%;
    width: 12vw;
}

.h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900; /*!proprietatea ca sa facem fontul bold*!*/
    /*font-size: 65px;*/
    font-size: 5vw;
    color: #C1CEF5;
    position: absolute;
}

.bodyText{
    position : absolute;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: #919DC3;
    text-align: left;
    position: absolute;
    top : 110px;
}

.leftSection{
    flex: 1; /*ocupa 50% din inaltime pe ecranele mai mari*/
    width: 400px;
    height: 300px;
    position: relative;
    top: 30px;
    left: -290px;
    padding: 0.3vw;
    margin-right: 20px;
}

.buttonText{
    font-family: 'Poppins', sans-serif;
    font-size:small;
    font-weight: bolder;
    color: #C1CEF5
}

.ui.animated.button.RegisterButton{
    top:65%;
    width: 150px;
    left:2px;
    position: absolute;
    background-color: #4260D8;
}


@media only screen and (max-width: 1920px) {
    .ui.image.LogoLogIn {
        position: relative;
        top: 7%;
    }
    .LogInContainerLogIn {
        position: absolute;
        background: white;
        border-radius: 25px;
        top: 20%;
        left: 35.5%;
        height: 70%;
        width: 30%;
    }
}


@media only screen and (min-width: 1360px) {
    .ui.image.LogoLogIn {
        position: relative;
        top: 7%;
    }


    .LogInContainerLogIn {
        position: absolute;
        background: white;
        border-radius: 25px;
        top: 15%;
        left: 34%;
        height: 75%;
        width: 30%;
    }
}

@media only screen and (max-width: 460px) {
    .LogInContainerLogIn {
        position: absolute;
        background: white;
        border-radius: 25px;
        top: 20%;
        left: 17.5%;
        height: 50%;
        width: 70%;
    }
}

.hyperToRegister{
    position: absolute;
    bottom: 5%;
    left: 20%;
}


@media only screen and (min-width: 412px) {
        .ui.small.image.LogoLogIn {
            position: relative;
            top: 7%;
            width: 12vw;
        }

        .LogInContainerLogIn {
            position: absolute;
            border-radius: 10px;
            top: 15%;
            height: 75%;
            width: 28vw;
            background-image: url("C:/Users/HELLO/Downloads/pagina de login.png");
            left : 59%;
            background-color : transparent;
        }
}

